language: groovy
jdk:
- oraclejdk7
node_js: "6.2"
sudo: false
branches:
  only:
  - master
  - develop
before_install:
- wget -q https://raw.githubusercontent.com/AtlasOfLivingAustralia/travis-build-configuration/master/ala_common.sh
- chmod +x ala_common.sh
- source ./ala_common.sh

- ala_travis_grails_setup_env

script:
- ala_travis_grails_build

env:
  global:
  - secure: OfNZbIr5ZIJv7cimf5enIXgLxQDogbIPfH1jxBV9CKTPxDx/2RPqI2pEJe3v/LhVb0raBFBIb5TpBXGJ0BTUx8UaHfnrgbbOGNrET4ALvW1hP/xi7s5oj57RLHvMkxIH8WiIfdruYT5UmQ0CwKxpYdvyIK7BU8dXJx4IyHrOQEA=
  - secure: nl4so4Wq1xuC56THCPRNYD+IIrHdo0wRLb7zK+q8UaVuRrNCS/1AxkrOBY0PjPw5IfCk5pzzqyKkOlS3gZE5rl0D2AIQkIXO/APvdEv89sIi5hTybI980z2k9Fy782EMsyj+GrwB+WbubLb1387erQq5jeMFoUeJmoGupP2I57Q=
