/*
table { border-collapse: collapse; }

th { border-collapse: collapse; border: 1px solid #333A3F; padding:2px; background-color: #333A3F !important; color: #ffffff;}
td {  border-collapse: collapse; border: 1px solid #000000; padding: 2px;}
*/

body { font-family: Arial; }
.unrecognised { background-color: red; }
.uploaded {font-size: 14px; font-weight: bold; }

#initialPaste { width:98%;}

#copyPasteData { clear: both; display: block;  width:100%; }

.actionButton { clear: both; margin-top: 10px; }
#content { width: 100%;  }
#footer { width: 100%; padding:0px;}
#footer-nav { width:95%;  padding: 25px 15px 0px 30px; }
.copyright { width:95%; padding: 0px 15px 15px 30px; }
.copyright  p { text-align:left; padding-top:0px; margin-top:0px;}
h2#initialPaste { margin-top:15px;}
#recognisedDataDiv, #processSample { margin-top:30px;}

#recognisedData { padding:20px; background-color: #EEE; width:95%;}
#interpretation { margin-bottom:15px;}
#initialParse td { background-color: #FFFFFF;}
#tabulatedData { width:100%; overflow: auto; }


/*.uploaded { } */
#processedData { min-width: 650px; clear: both; }
#uploadFeedback { margin-top: 25px; font-weight: bold;}
.datasetName {font-size: 14px;}

#processSampleUpload { margin-top:10px; border: 1px dotted gray; background-color: #FAECBB; padding: 10px; margin-bottom: 15px; width:95%; ;}

#nav-site { width:100% ;}
nav { width:100% !important; }

/** temporary fix - this hides the my profile link - should be removed once we migrate properly */
nav ol { display:none; }
.ui-progressbar-value span { padding-left:20px; }

/* override the fixed menu width in sf */
nav#nav-site {
    width: auto;
}

/* override the fixed position of the nav-search section */
body.fluid header#site-header section#nav-search {
    float: right;
    width: auto;
}

